* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: left;
    background-color: #fff;
    color: #000;
    background-image: url(https://media.istockphoto.com/id/1722712516/photo/blurred-shadow-from-palm-leaves-on-the-light-blue-wall-minimal-abstract-studio-background-for.jpg?b=1&s=612x612&w=0&k=20&c=DitNIjUo7Kf7gerAQbyHhffWwbsPTtDaFz1Y8rV83XM=);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: #008080;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

main {
    padding: 20px;
    text-align: left;
}

.left {
    text-align: left;
}
.center{
    text-align: center;
}

footer {
    background-color: #008080;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.gallery img {
    width: 250px;
    height: auto;
    border-radius: 5px;
}

form {
    max-width: 600px;
    margin: 0 auto;    padding: 20px;
    background: #fff;    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);}
    form label {
        display: block;    margin-bottom: 10px;
        font-weight: bold;}
    form input,
    form textarea {    width: 100%;
        padding: 10px;    margin-bottom: 10px;
        border: 1px solid #ddd;    border-radius: 5px;
    }
    form button {    background-color: #008080;
        color: #fff;    border: none;
        padding: 10px 20px;    border-radius: 5px;
        cursor: pointer;}
    form button:hover {
        background-color: #004d40;
    }
.bold-text {
    font-weight: bold;}
    
.text-block {
   margin-left:40px; }
